#back-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#back-iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#console {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50%;
    padding: 0px 10px;
    filter: blur(0.4px);
    color: #ffd3dc;
    font-size: 1.5vh;
}

#console-flex {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-height: 100%;
    width: 50%;
    padding: 10px 10px;
}

.console {
    margin: 1px 0px
}