*,
html {
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    max-width: 100%;
    background-color: black;
}


/* ------------------------------------------ */

#vid-container,
#twitch-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

video {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
}

iframe {
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0px;
}