*,
html {
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    max-width: 100%;
    background-color: black;
}